<div class="dashboard-container">
    <div class="sidebar">
        <button (click)="setActiveComponent('edit')">Modifier Profil</button>
        <button (click)="setActiveComponent('settings')">Paramètres Compte</button>
        <button (click)="setActiveComponent('identity')">Pièces d'Identités</button>
        <button (click)="setActiveComponent('payment')">Méthode de Payement</button>
    </div>
    <div class="main-content">
        <app-user-profile-edit *ngIf="activeComponent === 'edit'"></app-user-profile-edit>
        <app-user-profile-identity *ngIf="activeComponent === 'identity'"></app-user-profile-identity>
        <app-user-profile-payment *ngIf="activeComponent === 'payment'"></app-user-profile-payment>
        <app-user-profile-settings *ngIf="activeComponent === 'settings'"></app-user-profile-settings>
    </div>
</div>
  