.dashboard-container{
    margin-left: 12%;
    margin-right: 12%;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 100%;
    height: fit-content;
}

.sidebar{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

}
button {
    background: transparent;
    color: #555;
    border: none;
    margin:5px 0px;
    width:100%;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    border-radius: 30px;
}
  
.active{
    background:#eee;
    color:#f5154a;
}
button:hover {
    background-color: #eee;
}

.main-content{
    padding-top: 50px;
}