<mat-card class="post-card">
    <mat-card-header>
        <mat-card-title class="">{{ currentPost.brand }}</mat-card-title>
        <mat-card-title class="">{{ currentPost.model }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ currentPost.mileage }}</p>
        <p>{{ currentPost.year }}</p>
        <p>{{ currentPost.description }}</p>
        <p>{{ currentPost.gearbox }}</p>
        <p>{{ currentPost.fuel }}</p>
        <p>{{ currentPost.price }}</p>
        <p>{{ currentPost.availability }}</p>
        <p>{{ currentPost.start_date }}</p>
        <p>{{ currentPost.end_date }}</p>
    </mat-card-content>
    
    
   
    <button mat-flat-button color="basic" *ngIf="!isLoggedIn" routerLink="/login">
        Rent
    </button>
    <button mat-flat-button color="basic" *ngIf="isLoggedIn && !isOwned" [routerLink]="['/rental/create', currentPost.id_post]">
        Rent
    </button>
</mat-card>
  