<div class="main">
    <div class="post-info-main">
        <div class="post-info-carousel">
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper">
                        <img [src]="image" alt="Random slide" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <h1>{{ currentPost.brand}} {{ currentPost.model }}</h1>
        <p>localisation</p>
        <p>{{ currentPost.year }}</p>
        <p *ngIf="rate"><ngb-rating [rate]="1" [max]="1"></ngb-rating>{{ rate }}</p>
        <p *ngIf="!rate"><ngb-rating [rate]="1" [max]="1"></ngb-rating>Pas encore d'évaluations</p>
    </div>
    <div class="post-info-box post-info-description">
        <h2>Description du véhicule</h2>
        <p>{{ currentPost.description }}</p>
    </div>

    <div class="post-info-rent">
        <div class="post-info-rent-price">
            <h1>{{ currentPost.price }}dt</h1>
            <p>/jour</p>
        </div>
        <div class="post-info-rent-button">
            <button *ngIf="!isLoggedIn" routerLink="/login">
                Réserver
            </button>
            <button *ngIf="isLoggedIn && !isOwned" (click)="createRental(currentPost.id_post)">
                Réserver
            </button>
            <div *ngIf="isOwned">
                <p>Il s'agit de votre véhicule</p>
            </div>
        </div>
    </div>

    <div class="post-info-box post-info-conditions">
        <h2>Condition du propriétaire</h2>
        <p>{{ currentPost.conditions }}</p>
    </div>
    <div class="post-info-box post-info-details">
        <div class="info-detail">
            <div>
                <img src="assets/engine.png">
                <h3>Moteur</h3>
            </div>
            <p>{{ currentPost.fuel }}</p>
        </div>
        <div class="info-detail">
            <div>
                <img src="assets/gearbox.png">
                <h3>Boite</h3>
            </div>
            <p>{{ currentPost.gearbox }}</p>
        </div>
        <div class="info-detail">
            <div>
                <img src="assets/speedmeter.png">
                <h3>Compteur</h3>
            </div>
            <p>{{ currentPost.mileage }}</p>
        </div>
    </div>
    <div class="post-info-box post-info-options">
        <div>
            <div class="info-option">
                <mat-icon>check</mat-icon>
                <p>GPS</p>
            </div>
            <div class="info-option">
                <mat-icon>close</mat-icon>
                <p>Climatisation</p>
            </div>
            <div class="info-option">
                <mat-icon>close</mat-icon>
                <p>Bluetooth</p>
            </div>
            <div class="info-option">
                <mat-icon>check</mat-icon>
                <p>Siège bébé</p>
            </div>
            <div class="info-option">
                <mat-icon>close</mat-icon>
                <p>Coffre de toit</p>
            </div>
        </div>
    </div>
    
    <div class="post-info-box post-info-calendar">
        <p>Date de début :{{ currentPost.start_date }}</p>
        <p>Date de fin :{{ currentPost.end_date }}</p>
        <div class="">
            <ngb-datepicker
              name="datepicker"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [displayMonths]="2"
              [dayTemplate]="t"
              [weekdays]="false"
              [outsideDays]="'hidden'"
              navigation="arrows"
              tabindex="-1"
            />
            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.disabled]="isDisabled(date)"
                [class.rent]="isRent(date)"
              >
                {{ date.day }}
              </span>
            </ng-template>
        </div>
    </div>

    <div class="post-info-box post-info-ratings">
        <h2>Évaluations des locataires</h2>
        <p *ngIf="ratingsWithComments.length===0">Aucun commentaire pour ce véhicule</p>
        <div *ngFor="let rating of ratingsWithComments" class="">
            <ngb-rating [rate]="rating.stars" [max]="5"></ngb-rating>
            <p>{{ rating.comment }}</p>
        </div>
    </div>
</div>

  