<div class="modal-header">
    <div>
        <h2>{{rental.request.post.brand}} {{rental.request.post.model}}</h2>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
    </button>
</div>

<div class="modal-body">

    <div *ngIf="hasClaim" class="claim-container">
        <h1>Votre réclamation!</h1>
        <div class="claim-type-container">
            <h2>Type</h2>
            <h4 *ngIf="!updating">{{ rental.claim.type }}</h4>
            <select *ngIf="updating" class="form-select" [formControl]="typeControl">
                <option [selected]="rental.claim.type==='Refund'" value="Refund">Remboursement</option>
                <option [selected]="rental.claim.type==='Cancel'" value="Cancel">Annulation</option>
            </select>
        </div>
        
        
        <div class="claim-update-container" *ngIf="claimStatus==='Pending'">
            <p>Status: <span style="color:darkgoldenrod">En attente</span></p>
            <button class="claim-update" (click)="toggleUpdate()" *ngIf="!updating"><mat-icon>create</mat-icon></button>
            <button class="claim-update" (click)="toggleUpdate()" *ngIf="updating"><mat-icon>close</mat-icon></button>
        </div>

        <div class="claim-status" *ngIf="claimStatus!=='Pending'">
            <p *ngIf="claimStatus==='Approved'">Status: <span style="color:green">Accepté</span></p>
            <p *ngIf="claimStatus==='Declined'">Status: <span style="color:brown">Refusé</span></p>
        </div>
        
        <textarea class="form-control claim-subject" id="subject" placeholder="Ajoutez plus d'informations" [readonly]="!updating" [formControl]="subjectControl"></textarea>
        
    </div>
    
    <div *ngIf="!hasClaim" class="claim-container">
        <h1>Envoyez une réclamation!</h1>
        <div class="claim-type-container">
            <h2>Type</h2>
            <select class="form-select" [formControl]="typeControl">
                <option [selected]="true" value="Refund">Remboursement</option>
                <option value="Cancel">Annulation</option>
            </select>
        </div>
        
        <textarea class="form-control claim-subject" id="subject" placeholder="Ajoutez plus d'informations" [formControl]="subjectControl"></textarea>
    </div>
    
    <div class="buttons-container">
        <button *ngIf="!hasClaim" (click)="addClaim()" class="buttons-submit" type="submit">Envoyer</button>
        <button *ngIf="hasClaim && updating" (click)="updateClaim()" class="buttons-submit" type="submit">Modifier Réclamation</button>
        <button (click)="closeModal()" class="buttons-return">Retour</button>
    </div>
      
</div>