<mat-card class="post-card">
    <mat-card-content>
        <p>{{ request.status }}</p>
        <p>{{ request.payment_method }}</p>
        <p>{{ request.start_date }}</p>
        <p>{{ request.end_date }}</p>
    </mat-card-content>

    <mat-card-header>
        <mat-card-title>{{ request.post.brand }}</mat-card-title>
        <mat-card-subtitle>{{ request.post.model }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ request.post.price }}</p>
        <p>{{ request.post.start_date }}</p>
        <p>{{ request.post.end_date }}</p>
    </mat-card-content>

    <button mat-flat-button color="basic" routerLink="/rental/owned">
        Retour
    </button>
  </mat-card>
  