<div class="main-container">
  <div>
    <h2>Changer de mot de passe</h2>
    <form [formGroup]="pwForm" (ngSubmit)="pwChange()">
      <div class="form-group">
        <label for="old_pw">Ancient Mot de Passe</label>
        <input type="text" class="form-control" id="old_pw" formControlName="old_pw">
      </div>
      <div class="form-group">
        <label for="new_pw">Nouveau Mot de Passe</label>
        <input type="text" class="form-control" id="new_pw" formControlName="new_pw">
      </div>
      <div class="form-group">
        <label for="confirm_pw">Confirmer Mot de Passe</label>
        <input type="text" class="form-control" id="confirm_pw" formControlName="confirm_pw">
      </div>
      <div class="pw-forget-container">
        <a href="#"><mat-icon>info</mat-icon>Mot de passe oublié</a>
      </div>
      
      <button type="submit" class="submit-button">Modifier votre mot de passe</button>
    </form>
  </div>

  <div class="seperator"></div>

  <div>
    <h2>Changer d'adresse email</h2>
    <form [formGroup]="emailForm" (ngSubmit)="emailChange()">
      <div class="form-group">
        <label for="old_email">Ancienne adresse email</label>
        <input type="text" class="form-control" id="old_email" formControlName="old_email">
      </div>
      <div class="form-group">
        <label for="new_email">Nouvelle adresse email</label>
        <input type="text" class="form-control" id="new_email" formControlName="new_email">
      </div>
      <div class="form-group">
        <label for="pw">Mot de Passe</label>
        <input type="text" class="form-control" id="pw" formControlName="pw">
      </div>
      <div class="pw-forget-container">
        <a href="#"><mat-icon>info</mat-icon>Mot de passe oublié</a>
      </div>

      <button type="submit" class="submit-button">Modifier votre adresse email</button>
    </form>
  </div>
  
  <div class="seperator"></div>

  <div>
    <h2>Supprimer votre compte</h2>
    <p>Cette action est irréversible. Si vous êtes propriétaire d'une voiture, veuillez vous assurer que vous n'avez pas de transferts à venir et veuillez exporter votre historique de paiement.</p>
    <button class="delete-button">Supprimer votre compte</button>
  </div>
</div>

  