.example-spacer {
    flex: 1 1 auto;
  }

.navbar-home{
  background-color: #c8e8fc;
}
/*
.navbar{
  background-color: #2d2d2d;
  display:flex;
  justify-content: space-between;
  padding:0px 12%;
  height:80px;
}*/
.navbar{
  background-color: transparent;
  display:flex;
  justify-content: space-between;
  padding:0px 12%;
  height:80px;
}
.home-nav{
  background:white;
  box-shadow: 0px 15px 30px 5px white;
}

.navbar a{
  width:200px;
  height:40px;
  display: flex;
  justify-content: left;
  align-items: center;
  color:#f5154a;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.navbar a:hover{
  color:#f5154a !important;
  text-shadow: 0px 0px 2px #f5154a;
}

.nav-button {
  background:transparent;
  font-size: 18px;
  font-weight: 500;
  color:#2d2d2d;
  height:50px;
  margin:0px 5px;
  border: 0px;
  border-radius: 10px;
  padding-left:15px;
  padding-right:15px;
  transition: 0.3s ease;
}
.nav-button:hover {
  background:#e6e6e6;
  color:#f5154a;
}

.nav-button-container{
  min-width:fit-content;
  display: flex;
  align-items: center;
  height:70px;
}

/*seconday navbar*/

.secondary-navbar{
  background: transparent;
  display:flex;
  justify-content: center;
  padding:0px 12%;
  height:35px;
  border-bottom: 4px solid #e6e6e6;
}

.home-sec-nav{
  background-color: #c8e8fc;
  border-bottom: 4px solid transparent;
}



.secondary-button:hover{
  border-bottom: #f5154a solid 4px;
  color:#f5154a;
  position: relative;
  top:0px;
}
.secondary-button{
  background:transparent;
  font-size: 15px;
  font-weight: 500;
  color:#2d2d2d;
  height:35px;
  margin:0px;
  border: 0px;
  padding-left:15px;
  padding-right:15px;
  border-bottom: transparent solid 4px;
  transition: 0.3s ease;
  z-index: 1;
}

/*account button*/
.account-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding-left: 5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.account-button p{
 display: inline;
}
.profile-pic{
  margin: 0;
  background-color: yellow;
  display: inline;
  width:40px;
  height:40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img{
  height:100%;
}

.profile-menu-button{
  height: 35px;
  transition: 0.3s ease;
}
.profile-menu-button:hover{
  color:#f5154a !important;
}
.profile-menu-button:focus{
  background-color: #e6e6e6;
}

/***********
.profile-menu{
  position:absolute;
}*/