<!--USER HEADER-->
<nav class="navbar" *ngIf="userRole!=='ADMIN'">
    <a href="/">
        <span>Renty</span>
    </a>
    <div class="nav-button-container">
        <button class="nav-button" color="basic" routerLink="/posts">
            Liste des Annonces
        </button>
        <button class="nav-button" *ngIf="!isLoggedIn" routerLink="/auth">
            Se connecter
        </button>
        <button class="nav-button" *ngIf="isLoggedIn" ngbDropdown ngbDropdownToggle>
            Profil
            <div ngbDropdownMenu aria-labelledby="dropdownProfile">
                <button ngbDropdownItem routerLink="/user/profile">Profil</button>
                <button ngbDropdownItem>Paramètres</button>
                <button ngbDropdownItem>Méthode de paiement</button>
            </div>
        </button>
        
        <button class="nav-button" *ngIf="isLoggedIn" (click)="Logout()">
            Logout
        </button>
        
    </div>
</nav>

<!--ADMIN HEADER-->
<nav class="navbar" *ngIf="isLoggedIn && userRole==='ADMIN'">
    <a href="/">
        <span>Renty Admin</span>
    </a>
    <div class="nav-button-container">
        <button class="nav-button" routerLink="/admin/dashboard">
            Dashboard
        </button>
        <button class="nav-button" routerLink="/posts">
            Liste des Annonces
        </button>
        <button class="nav-button" routerLink="/user/profile">
            Profil
        </button>
        <button class="nav-button" (click)="Logout()">
            Logout
        </button>
    </div>
</nav>

<!--Secondary Header-->
<nav class="secondary-navbar" *ngIf="isLoggedIn">
    <button class="secondary-button" routerLink="/posts/add">
        Créer une Annonce
    </button>
    <button class="secondary-button" routerLink="/posts/owned">
        Mes annonces
    </button>
    <button class="secondary-button" routerLink="/rental/owned">
        Mes locations
    </button>
    <button class="secondary-button" routerLink="/rental/requests">
        Mes demandes de location
    </button>
</nav>