.example-spacer {
    flex: 1 1 auto;
  }

.navbar{
  background-color: #2d2d2d;
}

.secondary-button:hover{
  border-bottom: #f5154a solid 4px;
}
.secondary-button{
  border-bottom: transparent solid 4px;
}


