<!--USER HEADER-->
<nav class="navbar" [class.home-nav]="isHome" *ngIf="userRole!=='ADMIN'">
    <a href="/">
        <span>Renty</span>
    </a>
    <div class="nav-button-container">
        <button class="nav-button" routerLink="/posts">
            Liste des Annonces
        </button>
        <button class="nav-button" *ngIf="!isLoggedIn" routerLink="/auth">
            Se connecter
        </button>
        <button class="nav-button account-button" *ngIf="isLoggedIn" ngbDropdown ngbDropdownToggle>
            <div class="profile-pic">
              <img [src]="profilePictureUrl">
            </div>
            <div class="profile-info">
              <p>Compte</p>
              <div class="profile-menu" ngbDropdownMenu aria-labelledby="dropdownProfile">
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/edit">Profil</button>
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/settings">Paramètres</button>
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/identity">Pièces d'identité</button>
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/payment">Méthode de paiement</button>
                <button class="profile-menu-button" ngbDropdownItem (click)="Logout()">Déconnexion</button>
              </div>
            </div>
        </button>
        
    </div>
</nav>

<!--ADMIN HEADER-->
<nav class="navbar" [class.home-nav]="isHome" *ngIf="isLoggedIn && userRole==='ADMIN'">
    <a href="/">
        <span>Renty Admin</span>
    </a>
    <div class="nav-button-container">
        <button class="nav-button" routerLink="/admin/dashboard">
            Dashboard
        </button>
        <button class="nav-button" routerLink="/posts">
            Liste des Annonces
        </button>
        <button class="nav-button account-button" ngbDropdown ngbDropdownToggle>
            <div class="profile-pic">
              <img [src]="profilePictureUrl">
            </div>
            <div class="profile-info">
              <p>Compte</p>
              <div class="profile-menu" ngbDropdownMenu aria-labelledby="dropdownProfile">
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/edit">Profil</button>
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/settings">Paramètres</button>
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/identity">Pièces d'identité</button>
                <button class="profile-menu-button" ngbDropdownItem routerLink="/user/profile/payment">Méthode de paiement</button>
                <button class="profile-menu-button" ngbDropdownItem (click)="Logout()">Déconnexion</button>
              </div>
            </div>
        </button>
    </div>
</nav>

<!--Secondary Header-->
<nav class="secondary-navbar" [class.home-sec-nav]="isHome" *ngIf="isLoggedIn">
    <button class="secondary-button" routerLink="/posts/add">
        Créer une Annonce
    </button>
    <button class="secondary-button" routerLink="/posts/owned">
        Mes Annonces
    </button>
    <button class="secondary-button" routerLink="/rental/owned">
        Mes Locations
    </button>
    <button class="secondary-button" routerLink="/rental/requests">
        Mes Demandes de Location
    </button>
</nav>