<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Renty</span>
        <span class="example-spacer"></span>
        <button mat-flat-button color="basic" routerLink="/posts/add">
            <mat-icon>add</mat-icon>
            Créer une Annonce
        </button>
        <button mat-flat-button color="basic" routerLink="/posts">
            Liste des Annonces
        </button>
        <!--
        <button mat-flat-button color="basic" (click)="CheckSessionStorage()">
            Test
        </button>-->
       
        <button mat-flat-button color="basic" *ngIf="!isLoggedIn" routerLink="/login">
            Login
        </button>
        <button mat-flat-button color="basic" *ngIf="!isLoggedIn" routerLink="/register">
            Register
        </button>
        <button mat-flat-button color="basic" *ngIf="isLoggedIn" routerLink="/posts/owned">
            Mes annonces
        </button>
        <button mat-flat-button color="basic" *ngIf="isLoggedIn" (click)="Logout()">
            Logout
        </button> 
        
    </mat-toolbar>
</p>