<!-- Main -->
<div class="row main-container">
  <div class="col-12 col-md-7 main-text-container">
    <div class="">
      <h1>Louez votre voiture préférée</h1>
      <h1 style="color:#f5154a">Juste en quelques étapes</h1>
      <h2>Utilisez notre service de location ouvert 24/7!</h2>
      <input type="text" class="main-text-input" placeholder="Locatlisation">
      <div class="main-date-container"><!--Ng Bootstrap date picker-->
        <div class="col-6">
          <div class="dp-hidden position-absolute">
            <div class="input-group">
              <input
                name="datepicker"
                class="form-control"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                [weekdays]="false"
                [outsideDays]="'hidden'"
                [startDate]="fromDate!"
                [markDisabled]="isDisabled"
                navigation="arrows"
                tabindex="-1"
              />
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                  [class.disabled]="isDisabled(date)"
                  [class.is-start]="isStart(date)"
                  [class.is-end]="isEnd(date)"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="input-group">
            <input
              #dpFromDate
              class="form-control"
              placeholder="Date de début"
              name="dpFromDate"
              [value]="formatter.format(fromDate)"
              (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
              readonly
            />
            <button class="btn btn-calendar bi bi-calendar3" style="margin-right: 10px;" (click)="datepicker.toggle()" type="button">
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <input
              #dpToDate
              class="form-control"
              placeholder="Date de fin"
              name="dpToDate"
              [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)"
              readonly
            />
            <button class="btn btn-calendar bi bi-calendar3" (click)="datepicker.toggle()" type="button">
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <button class="main-search-button">
        Cherchez la voiture
      </button>

    </div>

  </div>
  <div class="col-12 col-md-5 main-img-container">
    <img src="assets/accueil.png">
  </div>

</div>

<!--Info-->
<div class="row info-container">
  <div class="col-12 col-md-6">
    <h1>Voici la nouvelle manière</h1>
    <h1 style="color:#f5154a">de louer une voiture</h1>
    <p>Choisissez parmi des milliers de voitures disponibles auprès de particuliers et professionnels près de chez vous.</p>

    <div class="info-text-container">
      <div class="info-icon-container">
        <mat-icon>thumb_up</mat-icon>
      </div>
      <div class="info-other-text-container">
        <h2>Des prix par jour réduits</h2>
        <p>Découvrez des tarifs de location réduits et économisez de l’argent en utilisant notre plateforme. </p>
      </div>
    </div>

    <div class="info-text-container">
      <div class="info-icon-container">
        <mat-icon>wifi_tethering</mat-icon>
      </div>
      <div class="info-other-text-container">
        <h2>Pas d’agence, pas d’attente</h2>
        <p>Réservez une voiture près de chez vous instantanément, même à la dernière minute. Pas de file d’attente. Pas de paperasse.</p>
      </div>
    </div>

    <div class="info-text-container">
      <div class="info-icon-container">
        <mat-icon>speaker_phone</mat-icon>
      </div>
      <div class="info-other-text-container">
        <h2>Suivez vos locations en ligne</h2>
        <p>Notre plateforme Renty vous fournit toutes les informations nécessaires concernant votre location.</p>
      </div>
    </div>

  </div>
  <div class="col-12 col-md-6 info-img-container">
    <img src="assets/main-info.jpg">
  </div>
</div>

<!--seperator-->
<div class="seperator"></div>

<!--Rentabiliser-->
<div class="row rent-container">
  <div class="col-12 col-md-5 rent-img-container">
    <img src="assets/rent.png">
  </div>
  <div class="col-12 col-md-7 rent-text-container">
    <div>
      <h1>Rentabilisez votre voiture!</h1>
      <p>Avec Renty, louez votre voiture et gagnez de l'argent</p>
      <button>Louer ma voiture</button>
    </div>
  </div>
</div>