<!-- Main -->
<div class="row main-container">
  <div class="col-12 col-md-7 main-text-container">
    <div class="">
      <h1>Louez votre voiture préférée</h1>
      <h1 style="color:#f5154a">Juste en quelques étapes</h1>
      <h2>Utilisez notre service de location ouvert 24/7!</h2>
      <input type="text" class="main-text-input" placeholder="Locatlisation">
      <div class="main-date-container"><!--Ng Bootstrap date picker-->
        <div class="col-6">
          <div class="dp-hidden position-absolute">
            <div class="input-group">
              <input
                name="datepicker"
                class="form-control"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                [weekdays]="false"
                [outsideDays]="'hidden'"
                [startDate]="fromDate!"
                [markDisabled]="isDisabled"
                navigation="arrows"
                tabindex="-1"
              />
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                  [class.disabled]="isDisabled(date)"
                  [class.is-start]="isStart(date)"
                  [class.is-end]="isEnd(date)"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="input-group">
            <input
              #dpFromDate
              class="form-control"
              placeholder="Date de début"
              name="dpFromDate"
              [value]="formatter.format(fromDate)"
              (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
              readonly
            />
            <button class="btn btn-calendar bi bi-calendar3" style="margin-right: 10px;" (click)="datepicker.toggle()" type="button">
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <input
              #dpToDate
              class="form-control"
              placeholder="Date de fin"
              name="dpToDate"
              [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)"
              readonly
            />
            <button class="btn btn-calendar bi bi-calendar3" (click)="datepicker.toggle()" type="button">
              <mat-icon>date_range</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <button class="main-search-button">
        Cherchez la voiture
      </button>

    </div>

  </div>
  <div class="col-12 col-md-5 main-img-container">
    <img src="assets/accueil.png">
  </div>

</div>
