<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-7K6xFn1ZEnT+j0M/hwmmx0QvlrzDx4hrDMgfmye0m0JGhOI4XMVDqUyrGdST6wHgnNBJUKLhns9klTOYRzOUOQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div>
<!-- Filter-Form -->
<section id="filter_form2">
  <div class="container">
    <div class="main_bg white-text text-center">
        <h3>Choisissez votre véhicule</h3>
        <div class="row">
          <form action="#" method="get" class="d-flex justify-content-center flex-wrap">
            <div class="form-group col-md-3 col-sm-6 mx-2">
              <div class="select">
                <select class="form-control">
                  <option value="">Localisation </option>
                  <option value="">Tunis </option>
                  <option value="">Ariana </option>
                  <option value="">Sousse </option>

                </select>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 mx-2">
              <div class="select">
                <select class="form-control">
                  <option>Marque</option>
                  <option>BMW</option>
                  <option>Marcedes</option>
                  <option>Audi</option>
                  <option>Peugeot</option>
                  <option>Renault</option>
                  <option>Citroen</option>

                </select>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 mx-2">
              <div class="select">
                <select class="form-control">
                  <option>Modèle</option>
                  <option>Series 1</option>
                  <option>Series 2</option>
                  <option>Series 3</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 mx-2">
              <div class="select">
                <select class="form-control">
                  <option>Moteur</option>
                  <option>Essence</option>
                  <option>Electrique</option>
                  <option>Hybride</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 mx-2">
              <button type="submit" class="btn btn-block bg-danger"><i class="fa fa-search" aria-hidden="true"></i>Recherche </button>
            </div>
          </form>
        </div>
    </div>
  </div>
</section>
<!-- /Filter-Form -->

<!--About-us-->
<section id="about_us" class="section-padding">
	<div class="container">
    	<div class="section-header text-center">
        	<h2>Voici la nouvelle manière
            de louer une voiture</h2>
        </div>

        <div class="row">
        	<div class="col-md-3 col-sm-6">
            	<div class="about_info">
                    <div class="icon_box">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <h5>Des prix par heure ou par jour</h5>
                    <p>Choisissez parmi des milliers de voitures disponibles auprès de particuliers et professionnels près de chez vous. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
            	<div class="about_info">
                    <div class="icon_box">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <h5>Pas d’agence, pas d’attente</h5>
                    <p>Réservez une voiture près de chez vous instantanément, même à la dernière minute. Pas de file d’attente. Pas de paperasse. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/About-us-->
<!-- Help-Number-->
<section id="help" class="section-padding">
	<div class="container">
    	<div class="question">
            <h2>Vous avez une question ?<br>
            (+216) 92 287 041</h2>
        </div>
    </div>
</section>
<!-- /Help-Number-->
<!--Footer -->
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <H5>À PROPOS </H5>
          <p>En tant que plateforme d'autopartage, notre mission est d'apporter une bouffée d'air frais aux citadins en proposant un accès 24h/24 et 7j/7 à des voitures en libre-service proches de vous.</p>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6 text-right">
          <div class="footer_widget">
            <p>Connectez nous:</p>
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
          <p class="copy-right">Copyright &copy; 2023 Renty. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer-->
</div>
