<!--<div class="dashboard-container">
    <div class="sidebar">
      <button (click)="changeComponent('users')">Utilisateurs</button>
      <button (click)="changeComponent('posts')">Annonces</button>
      <button (click)="changeComponent('requests')">Demandes de locations</button>
    </div>
    <div class="main-content">
      <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </div>
</div>-->

<div class="dashboard-container">
  <div class="sidebar">
      <button (click)="setActiveComponent('utilisateurs')">Utilisateurs</button>
      <button (click)="setActiveComponent('annonces')">Annonces</button>
      <button (click)="setActiveComponent('demandes')">Demandes de locations</button>
  </div>
  <div class="main-content">
      <app-admin-users *ngIf="activeComponent === 'utilisateurs'"></app-admin-users>
      <app-admin-posts *ngIf="activeComponent === 'annonces'"></app-admin-posts>
      <app-admin-requests *ngIf="activeComponent === 'demandes'"></app-admin-requests>
  </div>
</div>