<div class="dashboard-container">
  <div class="sidebar">
      <button (click)="setActiveComponent('utilisateurs')">Utilisateurs</button>
      <button (click)="setActiveComponent('annonces')">Annonces</button>
      <button (click)="setActiveComponent('demandes')">Demandes de locations</button>
      <button (click)="setActiveComponent('identities')">Pièces d'identités</button>
  </div>
  <div class="main-content">
      <app-admin-users *ngIf="activeComponent === 'utilisateurs'"></app-admin-users>
      <app-admin-posts *ngIf="activeComponent === 'annonces'"></app-admin-posts>
      <app-admin-requests *ngIf="activeComponent === 'demandes'"></app-admin-requests>
      <app-admin-identities *ngIf="activeComponent === 'identities'"></app-admin-identities>
  </div>
</div>