<div class="dashboard-container">
  <div class="sidebar">
      <button (click)="setActiveComponent('utilisateurs')"><mat-icon class="button-icon">supervisor_account</mat-icon>Utilisateurs</button>
      <button (click)="setActiveComponent('annonces')">	<mat-icon class="button-icon"> directions_car</mat-icon>Annonces</button>
      <button (click)="setActiveComponent('demandes')"><mat-icon class="button-icon">how_to_reg</mat-icon>Demandes de locations</button>
      <button (click)="setActiveComponent('locations')"><mat-icon class="button-icon">receipt</mat-icon> Locations</button>
      <button (click)="setActiveComponent('identities')"><mat-icon class="button-icon">fingerprint</mat-icon> Pièces d'identités</button>
      <button (click)="setActiveComponent('ratings')"><mat-icon class="button-icon">comment</mat-icon> Évaluations</button>
      <button (click)="setActiveComponent('claims')"><mat-icon class="button-icon">error</mat-icon> Réclamations</button>
  </div>
  <div class="main-content">
      <app-admin-users *ngIf="activeComponent === 'utilisateurs'"></app-admin-users>
      <app-admin-posts *ngIf="activeComponent === 'annonces'"></app-admin-posts>
      <app-admin-requests *ngIf="activeComponent === 'demandes'"></app-admin-requests>
      <app-admin-rentals *ngIf="activeComponent === 'locations'"></app-admin-rentals>
      <app-admin-identities *ngIf="activeComponent === 'identities'"></app-admin-identities>
      <app-admin-ratings *ngIf="activeComponent === 'ratings'"></app-admin-ratings>
      <app-admin-claims *ngIf="activeComponent === 'claims'"></app-admin-claims>
  </div>
</div>