<mat-card class="post-card" *ngFor="let post of posts" [routerLink]="['/posts/info', post.id_post]">
  <div class="post-card-img">

  </div>
  <mat-card-header>
    <mat-card-title>{{ post.brand }} {{ post.model }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ post.price }}dt</p>
    <p>{{ post.availability }}</p>
    <p>{{ post.start_date }}</p>
    <p>{{ post.end_date }}</p>
    <button mat-flat-button color="basic" [routerLink]="['/posts/info', post.id_post]">
      Afficher
    </button>
  </mat-card-content>
</mat-card>
