.main{
  margin-left: 12%;
  margin-right: 12%;
  display: grid;
  grid-template-columns: 4fr 6fr 6fr;
  grid-template-areas: 
      'upper upper upper'
      'filter list list';
  grid-gap: 1em;
}
/*upper search filter*/
.upper-filter {
  grid-area: upper;
  margin-bottom: 20px;
  margin-top: 10px;
}

/*side bar*/
.side-bar{
  grid-area: filter;
  height:fit-content;
  border-radius: 25px;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.side-bar h3{
  margin-left:20px;
  font-weight:bold;
  color: rgba(0, 0, 0, 0.7);
}

.filter-seperation{
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
}

/*checkboxes*/
.checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.my-checkbox {
  display: none; /* hide the checkbox */
}
.my-label {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height:40px;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.7);
}
.my-checkbox:checked + .my-label {/* style the label when checkbox is checked */
  background-color: #f5154a;
  color:white;
}

/*posts*/
.posts-list{
  grid-area: list;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.post-card {
  cursor: pointer;
}

.post-card-content {
  border-radius: 20px;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.2);
}
.post-card-content:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.post-card-img {
  width:100%;
  height:200px;
  background-color: #2d2d2d;
  text-align: center;
  overflow: hidden;
}
.post-card-img img {
  height:100%;
  max-width:100%;
  
}

.post-card-info {
  padding: 0px 15px 15px 15px;
  height: 110px;
}
.post-card-info h2 {
  display: block;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.post-card-details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* center the child elements vertically */
}

.post-card-price {
  width: 100px;
  height: 60px;
  border-radius: 15px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  margin-right: 10px; /* add some margin to separate from the text div */
}

.post-card-price h3 {
  margin: 5px 0px 0px 0px;
  font-size: 20px;
  font-weight: bold;
}

.post-card-text {
  margin: 0px;
  padding: 0px;
}

/*date picker*/
.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.custom-day.focused {
  background-color: #e6e6e6;
  border-radius: 8px;
}
.custom-day.range,
.custom-day:hover {
  background-color: #f5154a;
  color: white;
  border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.custom-day.faded {
  background-color: rgba(	245, 21, 74, 0.5);
  border-radius: 0%;
  height:25px;
  margin-top: 4px;
}
.custom-day.is-start,
.custom-day.is-end {
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2);
}
.custom-day.disabled {
  color: #89929a;
  cursor: not-allowed;
}
.btn-calendar{
  color:#2d2d2d;
  background:#e6e6e6;
}
.btn-calendar:hover{
  color:#f5154a;
  background:transparent;
  border:1px solid  #f5154a;
}

.datepicekrs-container {
  width:522px;
}