<div class="main">
  <div class="upper-filter">
    <div class="upper-filter-loc">
      <input type="text" id="localisation" name="localisation" placeholder="Localisation">
    </div>
    <div class="upper-filter-date">
      <input type="text" id="start-date" name="start-date" placeholder="Date de Début">
    </div>
    <div class="upper-filter-date">
      <input type="text" id="end-date" name="end-date" placeholder="Date de Fin">
    </div>
  </div>
  
  <div class="side-bar">
    <form>
      <h3>Marque</h3>
      <div class="checkboxes">
        <ng-container *ngFor="let brand of brands">
          <input type="checkbox" [id]="'brand'+brand" class="my-checkbox" (change)="onCheckboxChange($event, 'brand', brand)">
          <label [for]="'brand'+brand" class="my-label">{{ brand }}</label>
        </ng-container>
      </div>
      <div class="filter-seperation"></div>
      <h3>Boite de vitesse</h3>
      <div class="checkboxes">
        <ng-container *ngFor="let gearbox of gearboxes">
          <input type="checkbox" [id]="'gearbox'+gearbox" class="my-checkbox" (change)="onCheckboxChange($event, 'gearbox', gearbox)">
          <label [for]="'gearbox'+gearbox" class="my-label">{{ gearbox }}</label>
        </ng-container>
      </div>
      <div class="filter-seperation"></div>
      <h3>Moteur</h3>
      <div class="checkboxes">
        <ng-container *ngFor="let fuel of fuels">
          <input type="checkbox" [id]="'fuel'+fuel" class="my-checkbox" (change)="onCheckboxChange($event, 'fuel', fuel)">
          <label [for]="'fuel'+fuel" class="my-label">{{ fuel }}</label>
        </ng-container>
      </div>
    </form>
    
  </div>
  <div class="posts-list">
    <div class="post-card" *ngFor="let post of filteredPosts" [routerLink]="['/posts/info', post.id_post]">
      <div class="post-card-content">
        <div class="post-card-img">
          <img [src]="post.imageUrl" alt="Post Image">
        </div>
        <div class="post-card-info">
          <h2>{{ post.brand }} {{ post.model }}</h2>
          <div class="post-card-details">
            <div class="post-card-text">
              <p>Aucune évaluation</p>
            </div>
            <div class="post-card-price">
              <h3>{{ post.price }}dt</h3>
              <p>/jour</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>