h2,h1,h3{
    color:rgba(0,0,0,0.7);
    font-weight:bold;
}

.main-container{
    margin-left: 15%;
    margin-right: 15%;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    height:fit-content;
    padding:1.5em;
}
/*profile picture container*/
.profile-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 5fr ;
    grid-gap: 1em;
    padding:15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    border-radius: 5px;
    border-left:5px solid red;
}
.profile-verif{
    padding-left: 20px;
    height:fit-content;
    align-self: center;
}
.profile-verif h2{
    font-size: 18px;
    margin:0px;
    margin-bottom: 5px;
}
.profile-picture-container {
    width:100px;
    height:100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-picture-container img {
    height:100%;
}

/*identity pieces container*/
.image-listing-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    min-height: 100px;
}

.image-container{
    width:100px;
    height:100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    height:100%;
}

.remove-button {
    position: absolute;
    align-self: flex-start;

    color:white;
    cursor:pointer;
}

/**********BUTTONS**********/

.submit-button{
    height: 50px;
    border-radius: 10px;
    border: 4px solid #f5154a;
    color: white;
    background-color: #f5154a;
    transition: 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    margin-top:20px;
}
.submit-button:hover{
    color: #f5154a;
    background-color: white;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}
/************/
.seperator{
    border-bottom:solid 1px rgba(0,0,0,0.2); 
    height:30px;
    width:100%;
}
/*******INFO******/

.info-image-container {
  height:180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-image-container img{
  height: 100%;
}

.info-text div{
    display: flex;
    align-items: center;
}
.info-text div mat-icon{
    width:40px;
    height: 40px;
    color:green;
}
.info-text div p{
    width:80%;
    height: 40px;
    margin-top:10px

}

/********BOOTSTRAP*****/
.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .col-12{
    padding: 0;
  }