<div class="main-container">
    <div class="post-container" *ngFor="let post of myPosts">
        <div class="post-image">
            <img [src]="post.imageUrl" alt="Post Image">
        </div>
        <div class="post-content">
            <div>
                <h3>{{ post.brand }} {{ post.model }}</h3>
            </div>
            <div>
                <p>Matricule : {{ post.mat }}</p>
                <p>Prix /jour : {{ post.price }}dt</p>
                <p>Disponibilité : {{ post.availability ? 'Disponible' : 'En cours de location' }}</p>
                <p>Status : {{ post.status }}</p>
                <p>Date de début : {{ post.start_date }}</p>
                <p>Date de fin : {{ post.end_date }}</p>
            </div>
        </div>
        <div class="post-buttons">
            <button mat-flat-button color="green" [routerLink]="['/posts/info', post.id_post]">
                <mat-icon style="width:25px">remove_red_eye</mat-icon>Afficher
            </button>
            <button mat-flat-button color="basic" [routerLink]="['/posts/edit', post.id_post]">
                <mat-icon style="width:25px">create</mat-icon>Modifier
            </button>
            <button mat-flat-button color="danger">
                <mat-icon style="width:25px">refresh</mat-icon>Mettre à Jour
            </button>
            <button mat-flat-button color="danger">
                <mat-icon style="width:25px">delete</mat-icon>Supprimer
            </button>
        </div>
    </div>
</div>